<div class="catalog-fields">

  <div class="catalog-row">

    <!-- Make combobox -->
    <div class="cs-wrap" [class.cs-wrap--open]="makeOpen" [class.cs-wrap--disabled]="makesLoading">
      <label class="cs-label" [class.cs-label--up]="makeSearch || makeOpen">Make *</label>
      <div class="cs-field">
        <input
          class="cs-input"
          type="text"
          [(ngModel)]="makeSearch"
          (input)="onMakeInput()"
          (focus)="openMakeDropdown()"
          [disabled]="makesLoading"
          autocomplete="off"
          spellcheck="false">
        @if (makesLoading) {
          <ion-spinner name="crescent" class="cs-spinner"></ion-spinner>
        } @else if (selectedMakeId) {
          <button type="button" class="cs-clear" (click)="clearMake($event)">
            <ion-icon name="close-outline"></ion-icon>
          </button>
        } @else {
          <ion-icon name="chevron-down-outline" class="cs-chevron" [class.cs-chevron--open]="makeOpen"></ion-icon>
        }
      </div>
      @if (makeOpen) {
        <div class="cs-dropdown">
          @if (filteredMakes.length) {
            @for (make of filteredMakes; track make.id) {
              <button type="button" class="cs-option" [class.cs-option--selected]="make.id === selectedMakeId" (click)="selectMake(make)">
                {{ make.name }}
              </button>
            }
          } @else {
            <div class="cs-no-results">No makes found</div>
          }
        </div>
      }
    </div>

    <!-- Model combobox -->
    <div class="cs-wrap" [class.cs-wrap--open]="modelOpen" [class.cs-wrap--disabled]="!selectedMakeId || modelsLoading">
      <label class="cs-label" [class.cs-label--up]="modelSearch || modelOpen || !selectedMakeId">Model *</label>
      <div class="cs-field">
        <input
          class="cs-input"
          type="text"
          [(ngModel)]="modelSearch"
          (input)="onModelInput()"
          (focus)="openModelDropdown()"
          [disabled]="!selectedMakeId || modelsLoading"
          [placeholder]="!selectedMakeId ? 'Select make first' : (modelsLoading ? 'Loading…' : '')"
          autocomplete="off"
          spellcheck="false">
        @if (modelsLoading) {
          <ion-spinner name="crescent" class="cs-spinner"></ion-spinner>
        } @else if (selectedModelId) {
          <button type="button" class="cs-clear" (click)="clearModel($event)">
            <ion-icon name="close-outline"></ion-icon>
          </button>
        } @else {
          <ion-icon name="chevron-down-outline" class="cs-chevron" [class.cs-chevron--open]="modelOpen"></ion-icon>
        }
      </div>
      @if (modelOpen) {
        <div class="cs-dropdown">
          @if (filteredModels.length) {
            @for (model of filteredModels; track model.id) {
              <button type="button" class="cs-option" [class.cs-option--selected]="model.id === selectedModelId" (click)="selectModel(model)">
                {{ model.name }}
              </button>
            }
          } @else {
            <div class="cs-no-results">No models found</div>
          }
        </div>
      }
    </div>

  </div>

  <div class="catalog-year-row">

    <!-- Year combobox -->
    <div class="cs-wrap" [class.cs-wrap--open]="yearOpen">
      <label class="cs-label" [class.cs-label--up]="yearSearch || yearOpen">Year *</label>
      <div class="cs-field">
        <input
          class="cs-input"
          type="text"
          [(ngModel)]="yearSearch"
          (input)="onYearInput()"
          (focus)="openYearDropdown()"
          autocomplete="off"
          spellcheck="false">
        @if (selectedYearValue) {
          <button type="button" class="cs-clear" (click)="clearYear($event)">
            <ion-icon name="close-outline"></ion-icon>
          </button>
        } @else {
          <ion-icon name="chevron-down-outline" class="cs-chevron" [class.cs-chevron--open]="yearOpen"></ion-icon>
        }
      </div>
      @if (yearOpen) {
        <div class="cs-dropdown">
          @if (filteredYears.length) {
            @for (year of filteredYears; track year) {
              <button type="button" class="cs-option" [class.cs-option--selected]="year === selectedYearValue" (click)="selectYear(year)">
                {{ year }}
              </button>
            }
          } @else {
            <div class="cs-no-results">No years found</div>
          }
        </div>
      }
    </div>

  </div>

</div>
