<ion-item-sliding #sliding>

  <ion-item lines="none" button detail="false" class="row-item" (click)="onView()">

    <div class="row-thumb" slot="start">
      @if (defaultPhoto) {
        <img [src]="defaultPhoto | imageUrl" class="thumb-img" [alt]="car.make + ' ' + car.model"/>
      } @else {
        <div class="thumb-placeholder">
          <ion-icon name="car-outline"></ion-icon>
        </div>
      }
    </div>

    <div class="row-info">
      <span class="row-title">{{ car.nickname || (car.make + ' ' + car.model) }}</span>
      <span class="row-subtitle">
        @if (car.nickname) {
          {{ car.make }} {{ car.model }}@if (car.license_plate) { · {{ car.license_plate }} }
        } @else if (car.license_plate) {
          {{ car.license_plate }}
        }
      </span>
      <div class="row-pills">
        @if (daysUntil(getDocExpiry(documents, 'RCA')) !== null) {
          <div class="doc-pill doc-pill--rca">
            <ion-icon name="shield-checkmark-outline"></ion-icon>
            <span>{{ 'car.documents.insurance.label' | transloco }}</span>
            <strong [class.hau-days-zero]="daysUntil(getDocExpiry(documents, 'RCA')) === 0">{{ daysUntil(getDocExpiry(documents, 'RCA')) }}d</strong>
          </div>
        }
        @if (daysUntil(getDocExpiry(documents, 'ITP')) !== null) {
          <div class="doc-pill doc-pill--itp">
            <ion-icon name="build-outline"></ion-icon>
            <span>{{ 'car.documents.technicalInspection.label' | transloco }}</span>
            <strong [class.hau-days-zero]="daysUntil(getDocExpiry(documents, 'ITP')) === 0">{{ daysUntil(getDocExpiry(documents, 'ITP')) }}d</strong>
          </div>
        }
        @if (daysUntil(getDocExpiry(documents, 'ROV')) !== null) {
          <div class="doc-pill doc-pill--rov">
            <ion-icon name="car-outline"></ion-icon>
            <span>{{ 'car.documents.vignette.label' | transloco }}</span>
            <strong [class.hau-days-zero]="daysUntil(getDocExpiry(documents, 'ROV')) === 0">{{ daysUntil(getDocExpiry(documents, 'ROV')) }}d</strong>
          </div>
        }
        @if (badge) {
          <div class="row-badge">
            <ion-icon name="person-outline"></ion-icon>
            {{ badge }}
          </div>
        }
      </div>
    </div>

    <ion-icon name="chevron-forward" slot="end" class="row-chevron"></ion-icon>

  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="primary" (click)="onView()">
      <ion-icon slot="top" name="eye-outline"></ion-icon>
      {{ 'common.view' | transloco }}
    </ion-item-option>
    <ion-item-option class="edit-opt" (click)="onEdit()">
      <ion-icon slot="top" name="create-outline"></ion-icon>
      {{ 'common.edit' | transloco }}
    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>
