@switch (controlType) {
    @case (FormControlType.Input) {
        <ion-input [label]="label"
                   label-placement="floating"
                   fill="outline"
                   [type]="inputType"
                   [max]="max"
                   [min]="min"
                   [maxlength]="maxlength"
                   [formControl]="control"
                   ngDefaultControl></ion-input>
    }
    @case (FormControlType.File) {
        <div class="file-upload-container">
            <input
                type="file"
                (change)="onFileSelected($event)"
                [accept]="acceptedFilesFormat || 'image/*'"
                [attr.multiple]="multiple || null"
                [disabled]="disabled"
                style="margin-top: 10px;"
            />
            @if (uploadProgress) {
                <ion-item>
                    <ion-label>Uploading...</ion-label>
                    <ion-progress-bar [value]="uploadProgress / 100"></ion-progress-bar>
                </ion-item>
            }
            @if (control.errors?.['fileType']) {
                <ion-note color="danger">Only image files are allowed!</ion-note>
            }
            @if (control.errors?.['fileSize']) {
                <ion-note color="danger">File size must be less than 1MB</ion-note>
            }
        </div>
    }
    @case (FormControlType.Dropdown) {
        <ion-select [label]="label"
                    label-placement="floating"
                    fill="outline"
                    [formControl]="control"
                    ngDefaultControl>
            @for (option of options; track option.value) {
                <ion-select-option [value]="option.value">{{ option.label }}</ion-select-option>
            }
        </ion-select>
    }
    @case (FormControlType.DatePicker) {
        <ion-input [id]="datePickerId"
                   [label]="label"
                   label-placement="floating"
                   fill="outline"
                   [value]="formatControlDate(control.value)"
                   type="text"
                   readonly
                   ngDefaultControl
                   [placeholder]="'Select date'"></ion-input>
        <ion-modal [trigger]="datePickerId"
                   [keepContentsMounted]="true"
                   cssClass="hau-datepicker-modal">
            <ng-template>
                <ion-datetime presentation="date"
                              [formControl]="control"
                              mode="md"
                              [showDefaultButtons]="true"></ion-datetime>
            </ng-template>
        </ion-modal>
    }
}