@switch (controlType) {
    @case (FormControlType.Input) {
        <div class="field-group">
            <label class="field-label" [for]="fieldId">{{ label }}</label>
            <div class="input-wrap">
                <input [id]="fieldId"
                       class="field-input"
                       [class.field-error]="showFieldError"
                       [type]="inputType"
                       [max]="max"
                       [min]="min"
                       [maxlength]="maxlength"
                       [formControl]="control" />
            </div>
        </div>
    }
    @case (FormControlType.File) {
        <div class="field-group field-group--file">
            @if (label) {
                <span class="field-label">{{ label }}</span>
            }
            <div class="file-upload-container">
                <input type="file"
                       class="field-input field-input--file"
                       (change)="onFileSelected($event)"
                       [accept]="acceptedFilesFormat || 'image/*'"
                       [attr.multiple]="multiple || null"
                       [disabled]="disabled" />
                @if (uploadProgress) {
                    <div class="file-upload-progress">
                        <span>{{ 'shared.formField.uploading' | transloco }}</span>
                        <ion-progress-bar [value]="uploadProgress / 100"></ion-progress-bar>
                    </div>
                }
                @if (control.errors?.['fileType']) {
                    <span class="field-hint field-hint--error">{{ 'shared.formField.onlyImagesAllowed' | transloco }}</span>
                }
                @if (control.errors?.['fileSize']) {
                    <span class="field-hint field-hint--error">{{ 'shared.formField.fileSizeLimit' | transloco }}</span>
                }
            </div>
        </div>
    }
    @case (FormControlType.Dropdown) {
        <div class="field-group">
            <label class="field-label" [for]="fieldId">{{ label }}</label>
            <div class="select-wrap">
                <select [id]="fieldId"
                        class="field-select"
                        [class.field-error]="showFieldError"
                        [formControl]="control">
                    @if (allowEmptyOption) {
                        <option value="">{{ 'common.noData' | transloco }}</option>
                    }
                    @for (option of options; track option.value) {
                        <option [value]="option.value">{{ option.label }}</option>
                    }
                </select>
                <ion-icon name="chevron-down-outline" class="select-chevron"></ion-icon>
            </div>
        </div>
    }
}
