<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    @if (loading$ | async) {
      <ion-item>
        <ion-label>Loading...</ion-label>
      </ion-item>
    } @else {
      @for(car of carList$ | async; track car.id) {
        <app-car-list-item [car]="car" (click)="navigateToCarDetails(car)"></app-car-list-item>
      }
    }
  </ion-list>

  <ion-fab slot="fixed" 
           vertical="bottom" 
           horizontal="end">
    <ion-fab-button (click)="navigateToAddCar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
