<form [formGroup]="form"
      class="ion-padding">
    <app-form-field label="VIN" formControlName="vin"></app-form-field>
    <app-form-field label="Make" formControlName="make"></app-form-field>
    <app-form-field label="Model" formControlName="model"></app-form-field>
    <app-form-field [inputType]="InputType.Number" [max]="MAX_YEAR" [min]="MIN_YEAR" label="Year" formControlName="year"></app-form-field>
    <app-form-field label="License plates" formControlName="license_plate"></app-form-field>
    <app-form-field [inputType]="InputType.Number" label="Current mileage" formControlName="current_mileage"></app-form-field>

    <ion-button color="primary" (click)="saveCar()">
        {{ form.value.id ? 'Update Car' : 'Add Car' }}
    </ion-button>
</form>