<ion-card>
  <ion-card-content>
    <div class="car-content">
      <div class="top">
        <div class="header">
          <h2><b>BV 68 RXY</b></h2>
          <h2>Fiat Punto</h2>
          <h3><b>Evo</b></h3>
        </div>
        <img class="car-image"
             src="assets/icon/placeholder.png" />
      </div>
      <div class="bottom">
        <div class="car-details">
          <span>ITP</span>
          <div class="label">02.02.2002</div>
        </div>
        <div class="car-details">
          <span>RCA</span>
          <div class="label">12.05.2022</div>
        </div>
        <div class="car-details">
          <span>SERVICE</span>
          <div class="label">01.02.2014</div>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>