<ion-content class="cd-page">
  @let car = currentCar$ | async;

  <div class="cd-inner">

    <app-page-header
      class="cd-header"
      [title]="'documents.title' | transloco"
      [subtitle]="car ? ('car.documents.subtitle' | transloco:{ name: car.make + ' ' + car.model }) : ''">
      <div class="cd-header-right">
        <button class="cd-add-btn" (click)="addDocument()">
          <ion-icon name="add-outline"></ion-icon>
          {{ 'documents.addDocument' | transloco }}
        </button>
      </div>
    </app-page-header>

    @if (viewModels().length === 0) {
      <div class="cd-empty">
        <ion-icon name="document-text-outline" class="cd-empty__icon"></ion-icon>
        <h3 class="cd-empty__title">{{ 'car.documents.empty.title' | transloco }}</h3>
        <p class="cd-empty__sub">
          {{ 'car.documents.empty.desc' | transloco:{ name: car ? (car.make + ' ' + car.model) : '' } }}
        </p>
      </div>
    } @else {
      <div class="cd-card">
        <div class="cd-list">
          @for (item of viewModels(); track item.doc.id) {
            <app-doc-expiry-row
              [docType]="item.doc.document_type"
              [title]="item.typeLabel"
              [days]="item.daysLeft"
              [dateStr]="item.doc.expiry_date ? (item.doc.expiry_date | date:'d MMM y') : ('documents.status.noExpiry' | transloco)"
              [isActive]="item.isActive"
              [progressPercent]="item.progressPercent"
              [ctaLabel]="item.ctaLabel"
              [ctaStyle]="item.ctaStyle"
              (rowClick)="navigateToView(item.doc.id)"
              (ctaClick)="navigateToEdit(item.doc.id)">
            </app-doc-expiry-row>
          }
        </div>
      </div>
    }

  </div>

  <ion-fab class="cd-fab" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addDocument()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
